@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Comic Sans MS, cursiveInter, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #333;
  background-color: #FFF;
}

#root {
  text-align: center;
}

body {
  margin: 0;
  display: flex;
  width: 100vw;
  // min-width: 1440px;
  height: 100vh;
  overflow: hidden;
}

.ant-menu-title-content {
  overflow: unset;
}